# Локальный запуск (NODE_ENV не задан или development): используется .env
# Продакшен (NODE_ENV=production): используется .env.production
PORT=8080
PGHOST=my-postgres
PGPORT=5432
PGUSER=postgres
PGPASSWORD=root
PGDATABASE=taskadmin